<div class="row">
  <div class="cell cell__name">
    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="state.name" (keyup)="emitChanges()">
  </div>
  <div class="cell cell__email">
    <label for="email">Email</label>
    <input type="text" id="email" [(ngModel)]="state.email" (keyup)="emitChanges()">
  </div>
  <div class="cell cell__login">
    <label for="login">Login</label>
    <input type="text" id="login" [(ngModel)]="state.login" (keyup)="emitChanges()">
  </div>
  <div class="cell cell__create-date">
    <label for="createDate">Creation date</label>
    <input type="text" id="createDate" [(ngModel)]="state.createDate" (keyup)="emitChanges()">
  </div>
</div>