<div class="row">
  <label for="name">
    name
    <input type="text" id="name" (keyup)="onInputChange($event.target)">
  </label>
  <label for="email">
    email
    <input type="text" id="email" (keyup)="onInputChange($event.target)">
  </label>
  <label for="login">
    login
    <input type="text" id="login" (keyup)="onInputChange($event.target)">
  </label>
  <label for="createDate">
    createDate
    <input type="text" id="createDate" (keyup)="onInputChange($event.target)">
  </label>
</div>